<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mall Check Report</title>
    <style>
        #success {
            color: green;
        }

        #error {
            color: red;
        }

        h1 {
            text-align: center;
        }

        a {
            float: right;
        }
    </style>
</head>

<body>
    <h1>Mall Check Report</h1>
    {% for result in results %}
    <h2>{{ result[0] }}</h2>
    <hr />

    {% if result[1] %}
    <div>
        <h5>Physical Connection Errors: </h5>
        <ul>
            {% for item in result[1] %}
            <li id="error">{{ item }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if result[2] %}
    <div>
        <h5>Physical Connection Messages: </h5>
        <ul>
            {% for item in result[2] %}
            <li id="success">{{ item }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if result[3] %}
    <div>
        <h5>Light Level Errors: </h5>
        <ul>
            {% for item in result[3] %}
            <li id="error">{{ item }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if result[4] %}
    <div>
        <h5>Light Level Messages: </h5>
        <ul>
            {% for item in result[4] %}
            <li id="success">{{ item }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <br />

    {% endfor %}
    <br />
    <br />
    <a href="/">[Check other mall]</a>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>

</html>